@import url(https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap);

* {
  box-sizing: border-box;
}

#description {
  font-size: 1rem;
  font-style: italic;
}

.head {
  text-align: center;
  padding: 0 0 0.625rem;
  margin: 1rem auto 0 auto;
}

body {
  text-align: center;
  color: #434663;
  font-family: Spartan;

 {
  form {
    padding: 0.5rem 2rem;
  }
}
.form-tab {
  margin: 1.5rem auto;
}

label {
  display: block;
  margin-bottom: 1rem;
}

p {
  display: block;
}

input {
  border-radius: 2px;
}




