@import url(https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap);

* {
  box-sizing: border-box;
}

#description {
  font-size: 1rem;
  font-style: italic;
}

.head {
  text-align: center;
  padding: 0 0 0.625rem;
  margin: 1rem auto 0 auto;
}

body {
  text-align: center;
  color: #434663;
  font-family: Spartan;
  background-image: url(https://wallpaperaccess.com/full/2825711.gif);
}

/* Style within the form */
form {
  background-color: #809eba;
  background-size: cover;
  background-position: center;
  width: max-content;
  margin: 0 auto;
  border-style: solid;
  border-radius: 10px;
  text-align: left;
}

@media (min-width: 400px) {
  form {
    padding: 0.5rem 2rem;
  }
}
.form-tab {
  margin: 1.5rem auto;
}

label {
  display: block;
  margin-bottom: 1rem;
}

p {
  display: block;
}

input {
  border-radius: 2px;
}



/* Menu Container */
.container {
  background: #fcfcfc;
  margin: 0;
  width: 50px;
  height: 50px;
  font-family: Arial Black;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  text-align: right;

  overflow: hidden;
}
.container:hover {
  width: 200px;
  height: 230px;
}
/* Menu Icon */
.icon {
  float: left;
  color: #434663;
  margin-top: 0px;
}

/* Links */
ul {
  list-style-type: none;
  margin-top: -20px;
}
/* Link Decroation */
li {
  font-size: 15px;
  line-height: 20px;
  font-style: italic;
  margin-left: 10px;
  color: #434663;
}

text-decoration-color: #434663;
color: #434663;
border-bottom-left-radius: 15px;
border-top-left-radius: 15px;
display: block;
padding: 5px;
-moz-transition: all 
li a:hover {
  font-size: 50px;
  color: #434663;
  background-color: #434663;
}
